Repository zama-ai/tfhe-rs, changes with the owners that CODEOWNERS names for each.
All owners: @agnesLeroy, @zama-ai/hardware, @IceTDrinker, @mayeul-zama, @tmontaigu, @soonum

feat(gpu): add support to GPU-accelerated expand to HL's CompactCiphertextList
  tfhe/src/core_crypto/gpu/entities/lwe_compact_ciphertext_list.rs
  tfhe/src/high_level_api/backward_compatibility/compact_list.rs
  tfhe/src/high_level_api/compact_list.rs
  tfhe/src/high_level_api/keys/mod.rs
  tfhe/src/high_level_api/keys/server.rs
  tfhe/src/integer/gpu/ciphertext/compact_list.rs
  tfhe/src/integer/gpu/ciphertext/mod.rs
  tfhe/src/integer/gpu/zk/mod.rs
Owners: @agnesLeroy, @tmontaigu

chore(gpu): skip packing ks test if it needs more ram than available
  tfhe-benchmark/benches/core_crypto/ks_bench.rs
  tfhe/src/core_crypto/gpu/mod.rs
Owners: @agnesLeroy

chore(gpu): fix ci on H100
  tfhe/src/high_level_api/compressed_ciphertext_list.rs
Owners: @tmontaigu

pbs 128 test
  tfhe/src/shortint/noise_squashing/private_key.rs
  tfhe/src/shortint/noise_squashing/server_key.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/encrypt_dp_ks_modswitch.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/encrypt_dp_ks_pbs128_packingks.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/mod.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/mod.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/noise_simulation.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/traits.rs
Owners: @mayeul-zama

feat(gpu): add support to GPU-accelerated expand to HL's CompactCiphertextList
  tfhe/src/core_crypto/gpu/entities/lwe_compact_ciphertext_list.rs
  tfhe/src/high_level_api/backward_compatibility/compact_list.rs
  tfhe/src/high_level_api/compact_list.rs
  tfhe/src/high_level_api/keys/mod.rs
  tfhe/src/high_level_api/keys/server.rs
  tfhe/src/integer/gpu/ciphertext/compact_list.rs
  tfhe/src/integer/gpu/ciphertext/mod.rs
  tfhe/src/integer/gpu/zk/mod.rs
Owners: @agnesLeroy, @tmontaigu

chore(gpu): skip packing ks test if it needs more ram than available
  tfhe-benchmark/benches/core_crypto/ks_bench.rs
  tfhe/src/core_crypto/gpu/mod.rs
Owners: @agnesLeroy

feat(gpu): add memory tracking functions for rand/rand bounded
  tfhe/src/core_crypto/gpu/mod.rs
  tfhe/src/high_level_api/integers/oprf.rs
  tfhe/src/integer/gpu/server_key/radix/oprf.rs
Owners: @agnesLeroy, @tmontaigu

chore(gpu): update noise squashing parameters
  tfhe/src/high_level_api/tests/noise_squashing.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
Owners: @tmontaigu, @mayeul-zama

fix(shortint): handle empty list in compression
  tfhe/src/integer/ciphertext/compressed_ciphertext_list.rs
  tfhe/src/shortint/ciphertext/compressed_ciphertext_list.rs
  tfhe/src/shortint/list_compression/compression.rs
Owners: @tmontaigu, @mayeul-zama

feat(gpu): implement 128-bit multi-bit PBS
  backends/tfhe-cuda-backend/cuda/include/pbs/pbs_multibit_utilities.h
  backends/tfhe-cuda-backend/cuda/include/pbs/pbs_utilities.h
  backends/tfhe-cuda-backend/cuda/include/pbs/programmable_bootstrap_multibit.h
  backends/tfhe-cuda-backend/cuda/src/CMakeLists.txt
  backends/tfhe-cuda-backend/cuda/src/crypto/torus.cuh
  backends/tfhe-cuda-backend/cuda/src/device.cu
  backends/tfhe-cuda-backend/cuda/src/fft128/fft128.cuh
  backends/tfhe-cuda-backend/cuda/src/pbs/bootstrapping_key.cu
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_cg_multibit.cuh
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_classic_128.cuh
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_multibit.cu
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_multibit.cuh
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_multibit_128.cu
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_multibit_128.cuh
  backends/tfhe-cuda-backend/cuda/src/pbs/programmable_bootstrap_tbc_multibit.cuh
  backends/tfhe-cuda-backend/src/bindings.rs
  tfhe-benchmark/benches/core_crypto/pbs128_bench.rs
  tfhe-benchmark/src/utilities.rs
  tfhe/src/core_crypto/algorithms/test/params.rs
  tfhe/src/core_crypto/gpu/algorithms/lwe_multi_bit_programmable_bootstrapping.rs
  tfhe/src/core_crypto/gpu/algorithms/test/lwe_multi_bit_programmable_bootstrapping_128.rs
  tfhe/src/core_crypto/gpu/algorithms/test/mod.rs
  tfhe/src/core_crypto/gpu/entities/lwe_multi_bit_bootstrap_key.rs
  tfhe/src/core_crypto/gpu/mod.rs
  tfhe/src/shortint/backward_compatibility/parameters/noise_squashing.rs
  tfhe/src/shortint/parameters/aliases.rs
  tfhe/src/shortint/parameters/noise_squashing.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
Owners: @agnesLeroy, @IceTDrinker, @mayeul-zama

feat(shortint): add compression for squashed noise ciphertexts
  tfhe/src/core_crypto/entities/lwe_packing_keyswitch_key.rs
  tfhe/src/core_crypto/entities/packed_integers.rs
  tfhe/src/core_crypto/entities/seeded_lwe_packing_keyswitch_key.rs
  tfhe/src/core_crypto/fft_impl/common.rs
  tfhe/src/shortint/backward_compatibility/ciphertext/mod.rs
  tfhe/src/shortint/backward_compatibility/list_compression.rs
  tfhe/src/shortint/backward_compatibility/parameters/noise_squashing.rs
  tfhe/src/shortint/ciphertext/compressed_ciphertext_list.rs
  tfhe/src/shortint/list_compression/compressed_server_keys.rs
  tfhe/src/shortint/list_compression/mod.rs
  tfhe/src/shortint/list_compression/noise_squashing_compression.rs
  tfhe/src/shortint/list_compression/private_key.rs
  tfhe/src/shortint/list_compression/server_keys.rs
  tfhe/src/shortint/noise_squashing/mod.rs
  tfhe/src/shortint/noise_squashing/private_key.rs
  tfhe/src/shortint/parameters/mod.rs
  tfhe/src/shortint/parameters/noise_squashing.rs
  tfhe/src/shortint/parameters/v1_3/mod.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/encrypt_dp_ks_pbs128_packingks.rs
Owners: @IceTDrinker, @mayeul-zama

chore(gpu): update noise squashing parameters
  tfhe/src/high_level_api/tests/noise_squashing.rs
  tfhe/src/shortint/parameters/v1_3/mod.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
Owners: @tmontaigu, @mayeul-zama

chore(gpu): update noise squashing parameters
  tfhe-benchmark/benches/core_crypto/pbs128_bench.rs
  tfhe/src/core_crypto/gpu/algorithms/test/lwe_programmable_bootstrapping_128.rs
  tfhe/src/high_level_api/tests/noise_squashing.rs
  tfhe/src/shortint/parameters/aliases.rs
  tfhe/src/shortint/parameters/v1_3/mod.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
Owners: @agnesLeroy, @tmontaigu, @mayeul-zama

refactor(gpu): refactor and optimize sum_ciphertext in cuda backend
  backends/tfhe-cuda-backend/cuda/include/integer/integer.h
  backends/tfhe-cuda-backend/cuda/include/integer/integer_utilities.h
  backends/tfhe-cuda-backend/cuda/src/integer/integer.cuh
  backends/tfhe-cuda-backend/cuda/src/integer/multiplication.cu
  backends/tfhe-cuda-backend/cuda/src/integer/multiplication.cuh
  backends/tfhe-cuda-backend/cuda/src/integer/scalar_mul.cuh
  backends/tfhe-cuda-backend/cuda/src/utils/helper.cuh
  backends/tfhe-cuda-backend/src/bindings.rs
  tfhe/src/integer/gpu/mod.rs
  tfhe/src/integer/gpu/server_key/radix/add.rs
  tfhe/src/integer/gpu/server_key/radix/ilog2.rs
  tfhe/src/integer/gpu/server_key/radix/mod.rs
Owners: @agnesLeroy

mul using less mem
  backends/tfhe-cuda-backend/cuda/include/integer/integer_utilities.h
Owners: @agnesLeroy

refactor(core): std_multi_bit_blind_rotate_assign takes msed input
  tfhe/src/core_crypto/algorithms/lwe_multi_bit_programmable_bootstrapping.rs
Owners: @IceTDrinker

chore(ci): fix missing env variable for 4090 benchmark
  .github/workflows/benchmark_gpu_4090.yml
Owners: @soonum

feat: add upgrade key chain
  tfhe/src/high_level_api/compressed_ciphertext_list.rs
  tfhe/src/high_level_api/keys/key_switching_key.rs
  tfhe/src/high_level_api/mod.rs
  tfhe/src/high_level_api/tag.rs
  tfhe/src/high_level_api/upgrade.rs
  tfhe/src/shortint/list_compression/server_keys.rs
Owners: @tmontaigu, @mayeul-zama

feat(core): add grouping_factor to MultiBitModulusSwitchedCt trait
  tfhe/src/core_crypto/algorithms/lwe_multi_bit_programmable_bootstrapping.rs
  tfhe/src/core_crypto/entities/compressed_modulus_switched_multi_bit_lwe_ciphertext.rs
Owners: @IceTDrinker

feat(core): add ModulusSwitchedCt trait
  tfhe/src/core_crypto/algorithms/mod.rs
  tfhe/src/core_crypto/algorithms/modulus_switch.rs
  tfhe/src/core_crypto/entities/compressed_modulus_switched_lwe_ciphertext.rs
  tfhe/src/core_crypto/entities/mod.rs
  tfhe/src/core_crypto/entities/modulus_switched_lwe_ciphertext.rs
  tfhe/src/shortint/oprf.rs
Owners: @IceTDrinker, @mayeul-zama

refactor(core): separate BR and MS
  mockups/tfhe-hpu-mockup/src/lib.rs
  tfhe/src/core_crypto/algorithms/lwe_programmable_bootstrapping/fft64_pbs.rs
  tfhe/src/core_crypto/algorithms/lwe_programmable_bootstrapping/ntt64_bnf_pbs.rs
  tfhe/src/core_crypto/algorithms/test/lwe_programmable_bootstrapping.rs
  tfhe/src/core_crypto/algorithms/test/modulus_switch_compression.rs
  tfhe/src/core_crypto/backward_compatibility/entities/compressed_modulus_switched_lwe_ciphertext.rs
  tfhe/src/core_crypto/entities/compressed_modulus_switched_lwe_ciphertext.rs
  tfhe/src/core_crypto/fft_impl/fft64/crypto/bootstrap.rs
  tfhe/src/integer/gpu/server_key/radix/oprf.rs
  tfhe/src/shortint/list_compression/compression.rs
  tfhe/src/shortint/oprf.rs
  tfhe/src/shortint/server_key/mod.rs
  tfhe/src/shortint/server_key/modulus_switch_noise_reduction.rs
  tfhe/src/shortint/server_key/modulus_switched_compression.rs
Owners: @zama-ai/hardware, @IceTDrinker, @agnesLeroy, @mayeul-zama

f
  tfhe/src/core_crypto/algorithms/lwe_programmable_bootstrapping/fft64_pbs.rs
  tfhe/src/core_crypto/algorithms/test/lwe_programmable_bootstrapping.rs
  tfhe/src/shortint/atomic_pattern/ks32.rs
  tfhe/src/shortint/atomic_pattern/standard.rs
  tfhe/src/shortint/key_switching_key/mod.rs
  tfhe/src/shortint/list_compression/compression.rs
  tfhe/src/shortint/oprf.rs
  tfhe/src/shortint/server_key/mod.rs
  tfhe/src/shortint/server_key/modulus_switched_compression.rs
Owners: @IceTDrinker, @mayeul-zama

refactor(core): cleanup unused function
  tfhe/src/core_crypto/fft_impl/common.rs
  tfhe/src/shortint/server_key/modulus_switch_noise_reduction.rs
Owners: @IceTDrinker, @mayeul-zama

refactor(core): separate BR and MS
  tfhe/src/core_crypto/algorithms/lwe_programmable_bootstrapping/fft128_pbs.rs
  tfhe/src/core_crypto/fft_impl/fft128/crypto/bootstrap.rs
  tfhe/src/core_crypto/fft_impl/fft128_u128/crypto/bootstrap.rs
  tfhe/src/core_crypto/fft_impl/fft128_u128/crypto/tests.rs
  tfhe/src/shortint/noise_squashing/server_key.rs
Owners: @IceTDrinker, @mayeul-zama

chore: add TODO for Glwe MS
  tfhe/src/core_crypto/entities/compressed_modulus_switched_glwe_ciphertext.rs
Owners: @IceTDrinker

chore(ci): fix missing env variable for 4090 benchmark
  .github/workflows/benchmark_gpu_4090.yml
Owners: @soonum

chore(gpu): correct ms formula in pbs128
  backends/tfhe-cuda-backend/cuda/include/integer/integer.h
  tfhe/src/core_crypto/commons/noise_formulas/generalized_modulus_switch.rs
  tfhe/src/core_crypto/commons/noise_formulas/mod.rs
  tfhe/src/core_crypto/gpu/algorithms/lwe_programmable_bootstrapping.rs
  tfhe/src/core_crypto/gpu/mod.rs
  tfhe/src/high_level_api/tests/noise_distribution/encryption_noise.rs
  tfhe/src/integer/gpu/list_compression/server_keys.rs
  tfhe/src/integer/gpu/server_key/radix/tests_noise_distribution/atomic_pattern.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/atomic_pattern.rs
Owners: @agnesLeroy, @IceTDrinker, @tmontaigu, @mayeul-zama

chore(gpu): fix input_br variance formula for multi-bit
  tfhe/src/integer/gpu/server_key/radix/tests_noise_distribution/atomic_pattern.rs
Owners: @agnesLeroy

PBS 128 with equivalency
  tfhe/src/shortint/encoding.rs
  tfhe/src/shortint/noise_squashing/server_key.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/encrypt_dp_ks_modswitch.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/encrypt_dp_ks_pbs128_packingks.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/mod.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/noise_simulation.rs
  tfhe/src/shortint/server_key/tests/noise_distribution/utils/traits.rs
Owners: @mayeul-zama

chore(gpu): correct ms formula in pbs128
  tfhe/src/core_crypto/commons/noise_formulas/mod.rs
Owners: @IceTDrinker

chore(gpu): update noise squashing parameters
  tfhe/src/high_level_api/tests/noise_squashing.rs
  tfhe/src/shortint/parameters/v1_3/noise_squashing/p_fail_2_minus_128/mod.rs
Owners: @tmontaigu, @mayeul-zama

fix
  tfhe/src/core_crypto/commons/noise_formulas/mod.rs
Owners: @IceTDrinker

chore(gpu): cherry pick new params and fix bugs
  tfhe/src/integer/gpu/server_key/radix/tests_noise_distribution/atomic_pattern.rs
Owners: @agnesLeroy

chore(gpu): change new test name
  tfhe/src/integer/gpu/server_key/radix/tests_noise_distribution/atomic_pattern.rs
Owners: @agnesLeroy

feat(hpu): Add support for tandem pdi
  .gitattributes
  backends/tfhe-hpu-backend/Cargo.toml
  backends/tfhe-hpu-backend/README.md
  backends/tfhe-hpu-backend/config_store/v80/hpu_config.toml
  backends/tfhe-hpu-backend/config_store/v80_archives/README.md
  backends/tfhe-hpu-backend/config_store/v80_archives/psi16.hpu
  backends/tfhe-hpu-backend/config_store/v80_archives/psi64.hpu
  backends/tfhe-hpu-backend/scripts/pdi_jtag.tcl
  backends/tfhe-hpu-backend/scripts/v80-pcie-perms.sh
  backends/tfhe-hpu-backend/src/ffi/mod.rs
  backends/tfhe-hpu-backend/src/ffi/v80/ami.rs
  backends/tfhe-hpu-backend/src/ffi/v80/mod.rs
  backends/tfhe-hpu-backend/src/ffi/v80/pdi/metadata.rs
  backends/tfhe-hpu-backend/src/ffi/v80/pdi/mod.rs
  backends/tfhe-hpu-backend/src/ffi/v80/pdi/uuid.rs
  backends/tfhe-hpu-backend/src/ffi/v80/qdma.rs
  backends/tfhe-hpu-backend/src/interface/config.rs
  backends/tfhe-hpu-backend/src/utils/pdi_mgmt.rs
  setup_hpu.sh
Owners: @zama-ai/hardware

CODEOWNERS:

# Specifying a path without code owners means that path won't have owners and is akin to a negation
# i.e. the `core_crypto` dir is owned and needs owner approval/review, but not the `gpu` sub dir
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

/backends/tfhe-cuda-backend/            @agnesLeroy
/backends/tfhe-hpu-backend/             @zama-ai/hardware

/tfhe/examples/hpu                      @zama-ai/hardware

/tfhe/src/core_crypto/                  @IceTDrinker
/tfhe/src/core_crypto/gpu               @agnesLeroy
/tfhe/src/core_crypto/hpu               @zama-ai/hardware

/tfhe/src/shortint/                     @mayeul-zama

/tfhe/src/integer/                      @tmontaigu
/tfhe/src/integer/gpu                   @agnesLeroy
/tfhe/src/integer/hpu                   @zama-ai/hardware

/tfhe/src/high_level_api/               @tmontaigu

/Makefile                               @IceTDrinker @soonum

/mockups/tfhe-hpu-mockup                @zama-ai/hardware

/.github/                               @soonum

/CODEOWNERS                             @IceTDrinker
